* {
  margin: 0;
  padding: 0;

  font-family: "Microsoft YaHei";
}

body {
  background: #fff;
  color: white;
  background: url(/ryeboy-site/images/background.png) no-repeat fixed;
  background-size: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
}

.clearfix {
  clear: both;
}

#main {
  width: 960px;
  margin: 0 auto 60px auto;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


footer, .push {
  font-size: 12px;
  text-align: center;
  height: 30px;
}

#logo {
  position: absolute;
  left: 60px;
  top: 19px;
}

#header {
  height: 100px;
}

#navigation {
  float: right;
  margin: 33px 0 0 240px;
}

#navigation li {
  float: left;
  list-style: none;
  margin-left: 50px;
  font-size: 20px;
  padding-bottom: 8px;
}

#navigation li:hover, #navigation li.selected {
  border-bottom: 3px solid #F3A536;
}
#navigation li.entrance {
  background: url(/ryeboy-site/images/entrance.png) -5px 26px no-repeat;
  padding-bottom: 20px;
}
#navigation li.entrance:hover {
  background-image: url(/ryeboy-site/images/entrance-hover.png);
  border-bottom: none;
}

#content {
  padding: 60px 0 0 60px;
  font-size: 18px;
}
.index {
  width: 680px;
  margin: 60px auto;
}
.index .intro {
  line-height: 32px;
  font-size: 24px;
}
.index span.brand {
  font-size: 36px;
}

.index .slogan {
  margin: 26px 0;
}

.index #apply-to-join {
  background: url(/ryeboy-site/images/apply.png) no-repeat;
  height: 60px;
  display: block;
  margin-top: 30px;
}
.index #apply-to-join:hover {
  background: url(/ryeboy-site/images/apply-hover.png) no-repeat;
}
.about-us {
  line-height: 20px;
}
.about-us h2{
  font-size: 24px;
  margin-bottom: 40px;
}
.about-us h3{
  font-size: 20px;
  margin: 20px 0;
}
.about-us p{
  font-size: 14px;
  margin-bottom: 30px;
}
.about-us ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 14px;
}
.cases .main{
  width: 600px;
  float: left;
}
.cases .main .case {
  margin-bottom: 40px;
  font-size: 24px;
}
.cases .main .case-title {
  margin-bottom: 20px;
  font-size: 24px;
}
.cases .main .case-title a:hover {
  color: #F3A536;
}
.cases .main .case-brief {
  font-size: 14px;
  line-height: 24px;
}
.cases .sidebar {
  width: 200px;
  float: right;
}

.cases .sidebar .title {
  font-size: 24px;
}
.cases .sidebar .list {
  margin: 20px 0 30px 0;
}
.cases .sidebar .list li {
  list-style: none;
  font-size: 14px;
  margin: 15px 0;
}
.cases .sidebar .list li a:hover {
  color: #F3A536;
}
.case .title {
  font-size: 24px;
  border-bottom: 1px solid #DEDDE0;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.case .content {
  line-height: 24px;
  font-size: 14px;
}
.case .content h3 {
  margin-bottom: 20px;
}
.case .content p.end {
  margin-bottom: 20px;
}
.faq {
  width: 640px;
  margin: 0 auto;
}
.faq .item, .faq .item h2 {
  margin-bottom: 30px;
}
.faq .item p {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 24px;
}
