<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col footer-col-3">
            <p>{{ site.copyright }}</p>
        </div>
    </div>

    <div style="text-align:center;display:none">
        <div style="display:none">
            戒色吧-麦田男孩是公益戒色戒撸健康习惯平台,来麦田男孩戒色吧: 专业戒色APP,超过100多位义工,科学运动和完整计划,助你养成良好生活习惯,快来戒色吧
        </div>
        Keywords:
        <a href="http://www.ryeboy.org/sitemap.html" title="戒色吧" target="_blank"><strong>戒色吧</strong></a>
        <a href="http://www.ryeboy.org/sitemap.xml" title="戒色吧" target="_blank"><strong>戒色吧</strong></a>
    </div>
</footer>
