<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col footer-col-3">
            <p>{{ site.copyright }}</p>
        </div>
    </div>

    <div style="text-align:center;display:none">
        <div style="display:none">
            麦田男孩是公益健康习惯平台,专业APP,超过100多位义工,科学运动和完整计划,助你养成良好生活习惯
        </div>
        Keywords:
        <a href="http://www.ryeboy.org/sitemap.html" title="公益健康" target="_blank"><strong>公益健康</strong></a>
        <a href="http://www.ryeboy.org/sitemap.xml" title="公益健康" target="_blank"><strong>公益健康</strong></a>
    </div>
</footer>
