@media screen and (max-device-width: 600px) {
  body {
    background-image: linear-gradient(to bottom,#5BBBF7, #6CBFF3);
  }

  .app-show {
    iframe {
      width: 290px !important;
      margin-top: 260px;
    }

    img {
      display: none;
    }
  }

  .description {
    width: 100%;
    margin-top: 45px;
    .download {
      margin-top: 0;
      position: absolute;
      top: 130px;

      .android {
        width: 150px;
      }

      .ios {
        margin-left: 0;
        width: 150px;
      }
    }

    .ios-description {
      margin-top: 30px;
      font-size: 10px;
    }
  }
}
